@charset "utf-8";
	.NormalCharacterStyle4
{
	font-family : Adobe Myungjo Std;
	font-size : 80px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
.NormalCharacterStyle2
{
	font-family : Adobe Myungjo Std;
	font-size : 53px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle3
{
	font-family : Adobe Myungjo Std;
	font-size : 53px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle1
{
	font-family : Adobe Myungjo Std;
	font-size : 53px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle
{
	font-family : Adobe Myungjo Std;
	font-size : 53px;
	color : #000000;
	color : rgb(0, 0, 0);
}
