
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Lateef|Londrina+Shadow|Rubik|Sorts+Mill+Goudy&display=swap');

.blue-back {
  background-color: #5691c7;

  text-align: center;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.weather {
  height:100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Rubik', sans-serif;

  /* color: white; */

}

.DottedBox {
  margin: 40px;
  /* border: 5px dotted pink; */
}

.DottedBox_content {
  font-size: 15px;
  text-align: center;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.card text-center{
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
