@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik&family=Tiro+Telugu&display=swap');
div {
  /* background-color: rgb(255, 255, 255); */
  color: rgb(87, 82, 82);
  font-size: 16px;
}
#strawberry-title {
  padding-right: 20px;
}
/* body {
  padding-left: 5vw;
  padding-right: 5vw;
} */
.App {
  text-align: center;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Tiro Telugu', serif;
  /* font-family: 'Rubik', sans-serif; */
}

img{
  margin: 2px 2px 2px 2px;
  object-fit: cover;

}

a{
  color:rgb(109, 88, 141);
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 70vh;
  margin-left:5vw;
  margin-right: 5vw;
  /* margin-top:2vh;
  margin-bottom: 2vh; */
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-content: flex-start;
  align-items:flex-start;
}
h3 {
  font-size: 24px;
  margin-left: 20vw;
  text-align: center;
  color:  gray;
  margin-bottom: 2vh;
  /* text-decoration: underline; */
}
p{
  text-align:left;
}

.row {
  display: flex;
  flex-direction: row;
}

#faceimg {
  /* margin: 20px 10px 10px 10px; */
  height: 70vh;
}

.icon {
  margin: 7px 7px 7px 7px;
  height:20px;
}

.project-container{
  display:flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin-left: 6vw ;
  margin-right: 6vw;
  padding-top: 5vh;
  padding-right: 4vw;
  padding-left: 4vw;
  background-color: rgba(245, 241, 236, 0.705);
  margin-bottom: 20px;

}
.proj-img{
  width:35vw;
  margin-right: 5vw;
}

.center {
  text-align: center;
}

.love-calc {
  display:flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-top: 20px;
  padding-right: 60px;
  padding-left:60px;
  background-color: rgb(216, 207, 202);
  margin-bottom: 20px;
}
.proj-desc{
  width: 50%;
  display:flex;
  align-items: center;
  padding-bottom:20px;

}

.proj-bullets{
  flex-direction: column;
  text-align: left;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-item {
  align-self: center;
  margin-right: 50px;
  font-size:20px;
  border: 5px solid transparent;
  border-width: thin;
  padding:3px;
  color:rgb(134, 163, 120); /*#9BBE8A;*/

}

.nav-item:hover {
  color: rgb(129, 120, 103);
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-start;   */
  margin-left: 30px;
  width: 500px;
  font-size:30px;
  color: rgb(134, 163, 120);
  font-family: 'Fredoka One', cursive;


}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  margin-right: 30px;
  margin-left:400px;
  font-family: 'Fredoka One', cursive;

  width: 200px;
}

.App-header {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  background-color: #EFF3E9;
  height: 12vh;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:100%;
}

.main {
  margin-top: 16vmin;
  margin-bottom:10vmin;
}

#social {
  width: 300px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1000px) {
  .project-container{
    flex-direction: column;
    /* width: 100; */
  }

  .proj-desc {
    width:100%;
  }

  .proj-img  {
    width:100%;
  }

  .row {
    flex-direction: column;
  }

  #title-strawberry {
    padding-left: 20vw;
    margin-left: 0;
    padding-left: 0;
  }

  #title {
    padding-left:  0vw;
    padding-right: 0px;
    margin-right: 0px;
  }

  #nav {
    margin-left: 0;
    margin-right:0;
  }
  .nav-item {
    /* padding-right: 10vw; */
    padding-right: 0;
  }
}